$bg_color: #d8dadf;
$blue: rgb(221, 221, 221);
$dark_blue: #161c27;
$img_height: 600px;
$img_width: 200px;
$gradient: top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%;
$webkit-gradient: linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8);
$webkit-linear-gradient: top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%;
$linear-gradient: to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%;
$prefix-linear-gradient: left, blue, white;

.awesome {
    width: percentage(5/7);
}

.awesome {
  background: -moz-linear-gradient($gradient); /* FF3.6+ */
  background: -webkit-gradient($webkit-gradient); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient($webkit-linear-gradient); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient($gradient); /* Opera 11.10+ */
  background: -ms-linear-gradient($gradient); /* IE10+ */
  background: linear-gradient($linear-gradient); /* W3C */ 
  background: -prefix-linear-gradient($prefix-linear-gradient); 
 }